# Ignore OS files
.DS_Store
Thumbs.db

# Ignore temporary / compiled files
*.log
*.tmp

# Ignore IDE/editor config
.vscode/
.idea/

# Ignorer TOUT par défaut
*
*/

# AUTORISER EXPLICITEMENT ces fichiers et dossiers
!LICENSE.txt
!README.md

# AUTORISER le dossier download et tout son contenu
!download/
!download/**

